@model FinalProject.Models.Alt_Kategoriler

@{
    ViewBag.Title = "Details";
}

<h2>Detaylar</h2>

<div>
    <h4>Alt Kategoriler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.altKategori_ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.altKategori_ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategoriler.kategori_ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategoriler.kategori_ad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.id }, new { @class = "editbtn" }) |
    @Html.ActionLink("Listeye Dön", "Index",null, new { @class = "backtolist" })
</p>
