@model FinalProject.Models.Kategoriler

@{
    ViewBag.Title = "Delete";
}

<h2>Sil</h2>

<h3>Kategoriyi silmek istediğinize emin misiniz?</h3>
<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kategori_ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategori_ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cihazlar.cihaz_ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cihazlar.cihaz_ad)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="silbtn" /> |
            @Html.ActionLink("Listeye Dön", "Index", null, new { @class = "backtolist" })
        </div>
    }
</div>
